{% extends 'base.html.twig' %}

{% block title %}Detail d'une entreprise{% endblock %}

{% block body %}
    <h1>Detail d'une entreprise</h1>

    <h2>{{ entreprise }}</h2>
    <p>
        Adresse : {{ entreprise.adresse }}
    </p>

{% endblock %}
